environment_name = "tas-sandbox"
tags = { "created_by" = "Weien_Chen", "managed_by" = "Terraform", "Tanzu_Env" = "TAS_Sandbox" }

region = "eu-north-1"
availability_zones = ["eu-north-1a", "eu-north-1b", "eu-north-1c"]

hosted_zone = "example.com"

vpc_cidr = "10.1.0.0/20"
infra_subnet_cidrs      = ["10.1.0.0/27", "10.1.0.32/27", "10.1.0.64/27"]
management_subnet_cidrs = ["10.1.0.128/27", "10.1.0.160/27", "10.1.0.192/27"]
tas_subnet_cidrs        = ["10.1.1.0/24", "10.1.2.0/24", "10.1.3.0/24"]
services_subnet_cidrs   = ["10.1.4.0/24", "10.1.5.0/24", "10.1.6.0/24"]

# who can communicate with Ops Manager
ops_manager_allowed_ips = ["0.0.0.0/0"]

# web-lb https listener config
https_listener_ssl_policy = "ELBSecurityPolicy-TLS13-1-2-2021-06"
https_listener_cert_private_key_filename = "cert-key.pem"
https_listener_cert_body_filename = "cert.pem"
https_listener_cert_chain_filename = "cert-chain.pem"

tcp_lb_ports = "20000-20009"

# AWS RDS for TAS CCDB options
tas_rds_engine = "mysql"
tas_rds_engine_version = "8.0.35"
tas_rds_identifier = "tas-db"
tas_rds_instance_class = "db.m5.large"
tas_rds_iops = 3000
tas_rds_allocated_storage = 100
tas_rds_max_allocated_storage = 200
tas_rds_multi_az = true
tas_rds_publicly_accessible = false
tas_rds_storage_type = "io1"
tas_rds_port = 3306
