environment_name_1 = "plat-auto"
region_1 = "us-east-1"
tags_1 = { "created_by" = "Weien_Chen", "managed_by" = "Terraform", "Tanzu_Env" = "Plat_Auto" }
vpc_id_1 = "vpc-009c4092419f42ebe"
vpc_attachment_subnet_ids_1 = [
    "subnet-07393ac72c9f5e070",
    "subnet-0676f9f5f397e2015",
    "subnet-08d4714a14ddc6ed6" ]

environment_name_2 = "sbx-w"
region_2 = "eu-north-1"
tags_2 = { "created_by" = "Weien_Chen", "managed_by" = "Terraform", "Tanzu_Env" = "TAS_Sandbox" }
vpc_id_2 = "vpc-0fea65110c59ecbe4"
vpc_attachment_subnet_ids_2 = [
    "subnet-0d4fe522255410bd2",
    "subnet-02a10095b6ebd98a6",
    "subnet-05c4158eb2c096fed"]
