# Platform Automation environment
environment_name_1 = "plat-auto"
region_1 = "us-east-1"
tags_1 = { "created_by" = "Weien_Chen", "managed_by" = "Terraform", "Tanzu_Env" = "Plat_Auto" }
vpc_id_1 = "vpc-009c4092419f42ebe"
tgw_id_1 = "tgw-02e586cd62a52ef8e"

# TAS environment to connect with Platform Automation
environment_name_2 = "tas-sandbox"
region_2 = "eu-north-1"
tags_2 = { "created_by" = "Weien_Chen", "managed_by" = "Terraform", "Tanzu_Env" = "TAS_Sandbox" }
vpc_id_2 = "vpc-0fea65110c59ecbe4"
tgw_id_2 = "tgw-0cf6e76dd01f28e7b"
